.form-main {
  padding: 54px 22px 68px 22px;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  font-style: normal;
  color: #283645;
  font-family: inherit;
}

.form-main__intro {
  text-align: center;
  margin-bottom: 55px;
}

.form-main__soname {
  color: #d22856;
  text-transform: uppercase;
  margin-bottom: 17px;
  margin-left: 23px;
}

.form-main__emotions {
  font-size: 14px;
  line-height: 18px;
  color: #d22856;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 22px;
  font-family: inherit;
}

.form-main__form-button {
  width: 276px;
  height: 59px;
  background-color: #2aab6d;
  border: 2px solid #2aab6d;
  border-radius: 1px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  font-style: normal;
  color: #ffffff;
  margin-top: 52px;
  margin-bottom: 69px;
  font-family: inherit;
}

.form-main__necessarily-fields {
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
}

.form-main__necessarily-star {
  color: #d22856;
}

.form-main__area {
  font-family: inherit;
}
