.form-apps__app {
  border: none;
}

.form-apps__legend-app {
  font-size: 14px;
  color: #d22856;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.form-apps__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.form-apps__item {
  margin-bottom: 38px;
}


.form-apps {
  padding: 42px 10px 4px 10px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  font-style: normal;
}
