.page__body {
  display: flex;
  width: 320px;
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
}

.page__img-wrap {
  background-image: url("../img/back-mobile.png");
  background-size: auto;
  background-repeat: no-repeat;
}
