.user-photo {
  padding: 7px 20px 84px 20px;
}

.user-photo__title {
  font-size: 24px;
  font-weight: 300;
  line-height: 33px;
  color: #ffffff;
  text-align: center;
  margin: 0;
}

.user-photo__description-photo {
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  color: #283645;
  text-align: center;
  margin-bottom: 60px;
}

.user-photo__user-label {
  position: absolute;
  right: 20px;
  width: 140px;
  height: 36px;
  font-size: 12px;
  font-weight: 700;
  font-style: normal;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
  padding-top: 15px;
  background-color: #d22856;
}

.user-photo__user-name-photo {
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  line-height: 24px;
  color: #283645;
}

.user-photo__description-user-photo {
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
  color: #283645;
}

.user-photo__description-user-photo--timer {
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  line-height: 24px;
  color: #283645;
}

.user-photo__likes-description {
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
  color: #d22856;
}
