.user-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.user-list__user-item--main-item {
  position: relative;
}

.user-list__user-description {
  display: flex;
  flex-direction: column;
  padding: 25px 30px 26px 37px;
  margin: 0;
  background-color: #f2f2f2;
}

.user-list__likes-button {
  border: none;
  width: 13px;
  height: 12px;
  background-image: url("../img/svg-likes.svg");
}

