@font-face {
  font-family: "OpenSans";
  src: url("./fonts/opensans.woff2") format("woff2"), url("./fonts/opensans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "OpenSans";
  src: url("./fonts/opensansbold.woff2") format("woff2"), url(".fonts/opensansbold.woff") format("woff");
  font-weight: normal;
  font-style: bold;
  font-display: swap;
}
@font-face {
  font-family: "OpenSans";
  src: url("./fonts/opensanslight.woff2") format("woff2"), url("./fonts/opensanslight.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
  display: flex;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 0;
  margin: 0;
  width: 320px;
  height: 66px;
  margin-bottom: 29px;
  position: relative;
  z-index: 2;
}

.page__body {
  display: flex;
  width: 320px;
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
}

.page__img-wrap {
  background-image: url("../img/back-mobile.png");
  background-size: auto;
  background-repeat: no-repeat;
}

.download {
  margin: 0;
  padding: 0;
  width: 320px;
  z-index: -1;
}

.download__slogan {
  width: 280px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 25px;
  line-height: 29px;
  color: #ffffff;
  text-align: center;
  margin: 0 20px;
  margin-bottom: 34px;
}

.download__phone-image {
  min-height: 286px;
  background-image: url("../img/png-background-phone.png");
  background-repeat: no-repeat;
  background-position: 0;
  overflow: hidden;
}

.download__phone-selfy {
  margin-top: 32px;
  margin-left: 105px;
}

.download__background-wrapper {
  background-color: #1d2631;
  padding-top: 28px;
  padding-bottom: 38px;
}

.download__link-block {
  width: 280px;
  text-align: center;
  margin-left: 20px;
}

.download__link {
  display: block;
  padding: 21px 39px 21px 38px;
  text-decoration: none;
  font-weight: 700;
  font-style: bold;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  border: 3px solid #ffffff;
  border-radius: 29px;
  margin-bottom: 28px;
}

.download__list {
  display: flex;
  margin-left: 58px;
  margin-right: 58px;
  margin-bottom: 31px;
  list-style-type: none;
  padding: 0;
}

.download__item {
  margin-right: 35px;
  text-decoration: none;
}

.download__item:nth-child(3) {
  margin-right: 0;
}

.download__links {
  text-decoration: none;
}

.download__item--apple {
  width: 47px;
  height: 56px;
  background-image: url("../img/svg-apple-logo.svg");
}

.download__item--android {
  margin-top: 6px;
  width: 43px;
  height: 47px;
  background-image: url("../img/svg-android-logo.svg");
}

.download__item--windows {
  width: 44px;
  height: 41px;
  margin-top: 12px;
  background-image: url("../img/svg-microsoft-logo.svg");
}

.download__description {
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  margin-left: 20px;
  margin-right: 20px;
}

.advantages {
  background-color: #ffffff;
}

.advantages__wrapper {
  padding: 0 20px;
  padding-top: 24px;
}

.advantages__question {
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  margin: 0;
  margin-bottom: 45px;
}

.advantages__answer {
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  margin-bottom: 123px;
}

.advantages__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.advantages__item {
  margin-bottom: 43px;
}

.advantages__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
}

.advantages__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #283645;
  margin: 0;
}

.advantages__item--friends {
  margin-bottom: 48px;
}

.effect {
  display: none;
}

.reviews {
  background-color: #ffffff;
}

.reviews__screen {
  width: 157px;
  height: 280px;
  position: relative;
  background-image: url("../img/svg-iphone 3.svg");
  background-repeat: no-repeat;
  margin-left: 100px;
}

.reviews__screen::after {
  content: url("../img/svg-trash-box-iphone screen-2.svg");
  position: absolute;
  top: 33px;
  left: 10px;
}

.reviews__wrapper {
  padding: 50px 20px 60px 20px;
}

.reviews__author {
  display: none;
}

.reviews__list {
  margin: 0;
  list-style-type: none;
}

.reviews_title {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  margin-top: 0;
}

.reviews__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
}

.reviews__buttons {
  padding: 0;
  display: flex;
  align-items: center;
  list-style-type: none;
  margin-left: 112px;
}

.reviews__item {
  position: relative;
  width: 12px;
  height: 12px;
  margin-right: 19px;
}

.reviews__toggle {
  width: 12px;
  height: 12px;
  background-image: url("../img/svg-review-slider.svg");
  background-repeat: no-repeat;
  border: none;
  margin-right: 19px;
}

.reviews__toggle--current {
  position: absolute;
  top: 10px;
  background-image: url("../img/svg-review-toggle.svg");
  background-repeat: no-repeat;
  border: none;
  margin-right: 19px;
}

.price-table {
  background-color: #ffffff;
}

.multi-table {
  display: none;
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}

.table-slider {
  margin: 0 auto;
  display: flex;
  width: 276px;
  height: 277px;
  margin-bottom: 100px;
}

.body-table-slider {
  width: 256px;
  height: 59px;
  border-collapse: collapse;
}

.header-table-slider {
  background-color: #283645;
}

.cell-standard {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 94px;
  background-color: #283645;
  padding: 0;
  margin: 0;
  text-align: center;
  overflow: hidden;
}

.table-standard {
  position: absolute;
  left: 95px;
  top: 3px;
  font-weight: 700px;
  font-style: bold;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  color: #ffffff;
}

.table-price {
  position: absolute;
  top: 26px;
  left: 95px;
  font-weight: 300px;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: #ffffff;
}

.hit {
  width: 100px;
  background-color: rgba(210, 40, 86, 0.73);
  background-repeat: no-repeat;
  transform: rotateZ(-45deg) translate(-15px, -22px);
}

.table-data {
  width: 150px;
  background: #ffffff;
  border: 2px solid #e5e5e5;
  border-right: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  margin: 0;
  padding: 25px 0 25px 20px;
}

.check-yes {
  width: 27px;
  background: #ffffff;
  border: 2px solid #e5e5e5;
  border-left: none;
  background-image: url("../img/svg-yes.svg");
  background-repeat: no-repeat;
  background-position: 1px 25px;
  padding-right: 17px;
}

.check-no {
  width: 27px;
  background: #ffffff;
  border: 2px solid #e5e5e5;
  border-left: none;
  background-image: url("../img/svg-no.svg");
  background-repeat: no-repeat;
  background-position: 1px 25px;
  padding-right: 17px;
}

.price-table__buttons {
  padding: 0;
  display: flex;
  align-items: center;
  list-style-type: none;
  margin-left: 112px;
}

.price-table__item {
  position: relative;
  width: 12px;
  height: 12px;
  margin-right: 19px;
}

.price-table__toggle {
  width: 12px;
  height: 12px;
  background-image: url("../img/svg-review-slider.svg");
  background-repeat: no-repeat;
  border: none;
  margin-right: 19px;
}

.price-table__toggle--current {
  position: absolute;
  top: 10px;
  background-image: url("../img/svg-review-toggle.svg");
  background-repeat: no-repeat;
  border: none;
  margin-right: 19px;
}

.contacts {
  background-color: #ffffff;
}

.contacts__wrapper {
  padding: 55px 39px 22px 39px;
  font-size: 24px;
}

.contacts--title-question {
  font-size: 24px;
  font-weight: 300;
  font-style: normal;
  line-height: 29px;
  text-align: center;
  margin-bottom: 45px;
}

.contacts-list {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

.contacts-title {
  font-size: 18px;
  line-height: 24px;
  font-weight: 300;
  font-style: normal;
  text-align: center;
}

.contacts-data {
  text-decoration: none;
  color: #d22856;
  line-height: 33px;
}

.main-footer__wrapper {
  background-color: #ffffff;
  padding: 70px 40px;
}

.main-footer__logo {
  display: flex;
}

.main-footer__development {
  display: flex;
  justify-content: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.main-footer__develop {
  margin-right: 15px;
  text-transform: uppercase;
  margin-top: 10px;
}

.main-footer__html-academy-logo {
  fill: #d22856;
  align-items: center;
}

.user-photo-description {
  padding: 7px 74px 84px 74px;
}

.user-photo-description__title {
  font-size: 24px;
  font-weight: 300;
  line-height: 33px;
  color: #ffffff;
  text-align: center;
  margin: 0;
}

.user-photo__description-photo {
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  color: #283645;
  text-align: center;
  margin-bottom: 60px;
}

.user-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.user-list__user-item--main-item {
  position: relative;
}

.user-photo__user-label {
  position: absolute;
  right: 20px;
  width: 140px;
  height: 36px;
  font-size: 12px;
  font-weight: 700;
  font-style: bold;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
  padding-top: 15px;
  background-color: #d22856;
}

.user-list__user-description {
  display: flex;
  flex-direction: column;
  padding: 25px 30px 26px 37px;
  margin: 0;
}

.user-photo__user-name-photo {
  font-size: 14px;
  font-weight: 700;
  font-style: bold;
  line-height: 24px;
  color: #283645;
}

.date-photo {
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  line-height: 24px;
  color: #283645;
}

.user-photo__description-user-photo {
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
  color: #283645;
}

.user-list__likes-button {
  border: none;
  width: 13px;
  height: 12px;
  background-image: url("../img/svg-likes.svg");
}

.user-photo__likes-description {
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
  color: #d22856;
}

.photo-filter {
  padding: 0 20px;
}

.photo-filter__photo-filter-description {
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
  margin-bottom: 72px;
}

.photo-filter__photo-filter-image {
  margin: 0;
  padding: 0;
  margin-bottom: 42px;
}

.photo-filter__filter-buttons-list {
  display: flex;
  list-style-type: none;
  margin-bottom: 39px;
}

.photo-filter__filter-buttons-item {
  position: relative;
  width: 44px;
  height: 44px;
  margin-right: 35px;
}

.photo-filter__photo-filter-buttons {
  position: absolute;
  background-repeat: no-repeat;
  border: none;
  width: 44px;
  height: 44px;
}

.photo-filter__photo-filter-buttons--crop {
  background-image: url("../img/svg-crop.svg");
}

.photo-filter__photo-filter-buttons--fill {
  background-image: url("../img/svg-fill.svg");
}

.photo-filter__photo-filter-buttons--contrast {
  background-image: url("../img/svg-contrast.svg");
  top: 5px;
}

.photo-filter__range-scale {
  position: relative;
  width: 240px;
  height: 4px;
  margin-top: 26px;
  background-color: #283645;
  padding: 0;
  margin-bottom: 73px;
}

.photo-filter__range-toggle {
  position: absolute;
  width: 14px;
  height: 14px;
  left: 193px;
  background-color: #ffffff;
  border: 2px solid #d22856;
  border-radius: 50%;
  top: -5px;
}

.photo-filter__submit-button {
  border: 3px solid #d22856;
  border-radius: 30px;
  color: #d22856;
  padding: 15px 90px;
}

.user-form-description {
  padding: 7px 46px 51px 46px;
  font-size: 24px;
  line-height: 33px;
  font-weight: 300;
  text-align: center;
}

.user-form-description__title {
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  font-weight: 300;
  font-style: normal;
  color: #ffffff;
}

.form-main {
  padding: 54px 22px 68px 22px;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  font-style: normal;
  color: #283645;
}

.form-main__intro {
  text-align: center;
  margin-bottom: 55px;
}

.form-manage {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.form-main__soname {
  color: #d22856;
  text-transform: uppercase;
  margin-bottom: 17px;
  margin-left: 23px;
}

.form-manage__item {
  margin-bottom: 29px;
}

.form-manage__userdata {
  width: 256px;
  height: 59px;
  padding-left: 10px;
  border: 2px solid #e5e5e5;
}

.form-main__emotions {
  font-size: 14px;
  line-height: 18px;
  color: #d22856;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 22px;
}

.form-main__form-button {
  width: 276px;
  height: 59px;
  background-color: #2aab6d;
  border: 2px solid #2aab6d;
  border-radius: 1px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  font-style: bold;
  color: #ffffff;
  margin-top: 52px;
  margin-bottom: 69px;
}

.form-main__necessarily-fields {
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
}

.form-apps {
  padding: 42px 10px 4px 10px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  font-style: normal;
}

.form-apps__app {
  border: none;
}

.form-apps__legend-app {
  font-size: 14px;
  color: #d22856;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.form-apps__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.form-apps__item {
  margin-bottom: 38px;
}

.form-main__necessarily-star {
  color: #d22856;
}

.progress {
  padding: 42px 10px 55px 10px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  font-style: normal;
}

.progress__progress-field {
  border: none;
}

.progress-legend {
  width: 218px;
  font-size: 13px;
  color: #d22856;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 44px;
}

.progress__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.progress__item {
  margin-bottom: 47px;
}

.emotions {
  display: flex;
  flex-direction: column;
  padding-top: 42px;
  align-items: center;
}

.modal-container {
  display: none;
  padding: 44px 22px 52px 22px;
}

.modal-container__modal-title {
  font-weight: 700;
  font-style: bold;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 37px;
}

.modal-container__modal-description {
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 93px;
}

.modal-container__modal-button {
  width: 276px;
  height: 59px;
  background-color: #2aab6d;
  border: 2px solid #2aab6d;
  border-radius: 1px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  font-style: bold;
  color: #ffffff;
  margin: 0;
  margin-top: 52px;
  margin-bottom: 69px;
}

.main-nav {
  width: 320px;
}

.main-header__logo-pink {
  padding-top: 20px;
  z-index: 1;
}

.main-nav__toggle {
  position: absolute;
  top: 21px;
  width: 50px;
  height: 24px;
  padding: 0;
  border: none;
  background: transparent;
  background-image: url("../img/svg-open-menu-btn.svg");
  background-repeat: no-repeat;
}

.main-nav__toggle--close {
  background-image: url("../img/svg-close-menu-btn.svg");
}

.main-nav__list {
  position: absolute;
  display: none;
  top: 0;
  margin: 0;
  padding: 0;
}

.main-nav__list--nav-links {
  text-decoration: none;
  color: #ffffff;
  top: 15px;
}

.pink-logo {
  fill: #283645;
  padding-top: 10px;
}

.pink-logo--header {
  margin-left: 20px;
  margin-top: 21px;
  margin-bottom: 21px;
  margin-right: 150px;
  fill: #ffffff;
}

.burger-menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  width: 320px;
  height: 63px;
  background-color: #283645;
  z-index: 1;
  border-bottom: 1px #000000 solid;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15);
}

.social-list {
  display: flex;
  list-style-type: none;
}

.social-list__item {
  position: relative;
  width: 54px;
  height: 54px;
  margin-right: 9px;
  padding: 18px;
}

.social-links {
  position: absolute;
  top: 40px;
  right: 0;
  left: 20px;
  bottom: 0;
  margin: auto;
  background-repeat: no-repeat;
}

.social-links--vk {
  background-image: url("../img/svg-vk.svg");
}

.social-links--telegram {
  background-image: url("../img/svg-telegramm.svg");
}

.social-links--youtube {
  background-image: url("../img/svg-youtube.svg");
}
/*# sourceMappingURL=style.css.map */