.main-footer__wrapper {
  background-color: #ffffff;
  padding: 70px 40px;
}

.main-footer__logo {
  display: flex;
}

.pink-logo {
  fill: #283645;
  padding-top: 10px;
}

.social-list {
  display: flex;
  list-style-type: none;
}

.social-list__item {
  position: relative;
  width: 54px;
  height: 54px;
  margin-right: 9px;
  padding: 18px;
}

.social-links {
  position: absolute;
  top: 40px;
  right: 0;
  left: 20px;
  bottom: 0;
  margin: auto;
  background-repeat: no-repeat;
}

.social-links--vk {
  background-image: url("/img/svg-vk.svg");
}

.social-links--telegram {
  background-image: url("/img/svg-telegramm.svg");
}

.social-links--youtube {
  background-image: url("/img/svg-youtube.svg");
}

.main-footer__development {
  display: flex;
  justify-content: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.develop {
  margin-right: 15px;
  text-transform: uppercase;
  margin-top: 10px;
}

.html-academy-logo {
  fill: #d22856;
  align-items: center;
}

