@font-face {
  font-family: "OpenSans";
  src: url("../fonts/open-sans.woff2") format("woff2"),
    url("../fonts/open-sans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/open-sansbold.woff2") format("woff2"),
    url("../fonts/open-sansbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/open-sanslight.woff2") format("woff2"),
    url("../fonts/open-sanslight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
