.table-slider {
  margin: 0  auto;
  display: flex;
  width: 276px;
  height: 277px;
  margin-bottom: 100px;
}

.table-slider__body {
  width: 256px;
  height: 59px;
  border-collapse: collapse;
}

.table-slider__header {
  background-color: #283645;
}
