.main-header {
  display: flex;
  background-color: rgb(0, 0, 0, 0.3);
  padding: 0;
  margin: 0;
  width: 320px;
  height: 66px;
  margin-bottom: 29px;
  position: relative;
  z-index: 2;
}

.main-nav {
  width: 320px;
}

.main-header__logo-pink {
  padding-top: 20px;
  z-index: 1;
}

.main-header__logo {
  margin-left: 20px;
  margin-top: 21px;
  margin-bottom: 21px;
  margin-right: 160px;
}

.main-nav__toggle {
  width: 50px;
  height: 24px;
  padding: 0;
  padding-top: 21px;
  border: none;
  background: transparent;
  background-image: url("/img/svg-open-menu-btn.svg");
  background-repeat: no-repeat;
}

.main-nav__toggle--close {
  background-image: url("/img/svg-close-menu-btn.svg");
}

.main-nav__list {
  position: absolute;
  display: none;
  top: 0;
  margin: 0;
  padding: 0;
}

.site-list__item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  width: 320px;
  height: 63px;
  background-color: #283645;
  z-index: 1;
  border-bottom: 1px #000000 solid;
  box-shadow: inset 0 1px 0  rgba(255, 255, 255, 0.15);
}

.nav-links {
  text-decoration: none;
  color: #ffffff;
  top: 15px;
}

.page__img-wrap {
  background-image: url("/img/back-mobile.png");
  background-size: auto;
  background-repeat: no-repeat;
}
